@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-800 dark:text-slate-200;
    font-family: 'Inter', sans-serif;
  }
  
  html[lang="ar"] body {
    font-family: 'Tajawal', sans-serif;
  }
}

/* General smoothness for transitions */
*, *::before, *::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

/* Fix for date input icon color on some browsers */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5) brightness(0.9);
}

html.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(0.8);
}


/* Custom Leaflet Popup Styles */
.leaflet-popup-content-wrapper {
  @apply rounded-lg shadow-lg;
}
.leaflet-popup-content {
  @apply text-sm;
  margin: 10px !important;
}
.leaflet-popup-tip {
    @apply bg-white;
}

html.dark .leaflet-popup-content-wrapper {
    @apply bg-slate-800 text-slate-200;
}
html.dark .leaflet-popup-tip {
    @apply bg-slate-800;
}
.leaflet-popup-close-button {
    @apply text-slate-600;
}
html.dark .leaflet-popup-close-button {
    @apply text-slate-300;
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@layer utilities {
    @keyframes ken-burns {
        0% {
            transform: scale(1) translate(0, 0);
        }
        50% {
            transform: scale(1.1) translate(-1%, 1%);
        }
        100% {
             transform: scale(1) translate(0, 0);
        }
    }
    .animate-ken-burns {
        animation: ken-burns 20s ease-in-out infinite;
    }
}