@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-slate-900 text-slate-800 dark:text-slate-200;
    font-family: 'Inter', sans-serif;
  }
  
  html[lang="ar"] body {
    font-family: 'Tajawal', sans-serif;
  }
}

/* General smoothness for transitions */
*, *::before, *::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

/* Fix for date input icon color on some browsers */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5) brightness(0.9);
}

html.dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) brightness(0.8);
}


@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}